{% extends 'account/admin/base.html' %}
{% load static %}
{% block title %}
    Order List
{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped">
            <thead align="center">
                <tr>
                    <th>S.No</th>
                    <th>Order ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Paid</th>
                    <th>Progress</th>
                    <th colspan="2">Options</th>
                </tr>
            </thead>
            <tbody align="center">
                {% for order in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/orders/{{ order.id }}">{{ order.id }}</a></td>
                    <td>{{ order.first_name }} {{ order.last_name }}</td>
                    <td>{{ order.phone }}</td>
                    <td>{% if order.paid %}Paid{% else %}Unpaid{% endif %}</td>
                    <td>{% if order.progress == 'S' %}Shipped{% elif order.progress == 'PP'%}Processing{% else %}Pending{% endif %}</td>
                    <td><a href="/orders/{{ order.id }}/edit" class="btn btn-primary">Edit</a></td>
                    <td><a href="/orders/{{ order.id }}/delete" class="btn btn-danger">Delete</a></td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}